/* forms.css */

/* עיצוב שדות טופס */
input[type="text"], input[type="password"], input[type="email"] {
    width: 100%;
    padding: 14px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    margin-top: 8px;
  }
  
  input:focus {
    outline: none;
    border-color: #4CAF50;
    background-color: #ffffff;
  }
  
  /* כפתורים */
  button {
    width: 100%;
    padding: 14px;
    background-color: #4CAF50;
    color: white;
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  