/* header-footer.css */

/* עיצוב הכותרת */
header {
    background-color: var(--primary-color);
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
  }
  